@use 'vars';

.title-page {
    display: flex;
    justify-content: center;
    min-width: 1020px;

    .content-spacing {
        max-width: 85%;
        @media (min-width: 1200px) {
            width: 1200px;
        }
    }

    // === common ===
    .section {
        padding-bottom: 20px;
    }
    .section-title {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    // === title section ===
    .title-section {
        padding-top: vars.$nav-height + 20;

        .section-spacing {
            display: flex;
            justify-content: space-between;
        }

        .title-box {
            color: vars.$dark-gray;
            display: inline-block;
            padding-bottom: 10px;
        }

        .title {
            padding-top: 50px;
            font-weight: 300;
            font-family: vars.$title-font;
            font-size: 50px;
        }
        .hr {
            height: 15px;
            border-bottom: 1px solid vars.$gray;
        }
        .subtitle {
            margin-top: 15px;
            color: vars.$dark-gray;
        }

        .ad-box {
            width: 750px;
        }

        .right {
            visibility: hidden;
            @media (min-width: 1200px) {
                visibility: visible;
            }

            max-width: 400px;
            margin-top: 75px;
            flex: 1;
            display: flex;
            justify-content: center;

            .img-spacing {
                object-fit: contain;
                display: inline-block;
                max-width: 200px;
                width: 100%;
            }
        }
    }

    // overview section
    .overview-section {
        .boxes {
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
        }

        .box {
            width: 250px;
            min-height: 230px;
            padding-right: 70px;

            .btn {
                align-self: start;
            }
        }
    }

    .description-section {
        .left-right {
            padding-bottom: 20px;
        }
        .text {
            max-width: 550px;
            padding-right: 50px;
        }
        .right {
            object-fit: contain;
        }
        .img-box {
            max-width: 450px;
            width: 100%;
        }
    }

    // === outcomes section ===
    .outcomes-section {
        .boxes {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
        }
        .box {
            max-width: 300px;
            padding-right: 50px;

            .img-box {
                width: 100%;
            }
            .text {
                padding-top: 10px;
            }

            &:last-child {
                padding-right: 0px;
            }
        }
        .subtitle {
        }
    }

    // === addon section ===
    .addon-section {
        margin-bottom: -50px;
        //background-color: vars.$white-gray;
        img {
            max-width: 450px;
        }

        .boxes-spacing {
            display: inline-block;
        }
        .boxes {
            display: flex;
        }
        .box {
            flex-height: 0;
            max-width: 250px;
            min-height: 200px;
            padding-right: 50px;

            &:last-child {
                padding-right: 0px;
            }
            .btn {
                align-self: start;
            }
        }
    }

    .download-section {
        .boxes {
            flex: 1;
            padding-top: 40px;
            max-width: 1000px;
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 75px;
        }
        img {
            width: 150px;
            height: 150px;
        }
        .box {
            //width: 280px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .multi-btn {
            margin-right: 10px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
