{{> header }}

<script src="./utils.ts"></script>

<body class="luckyblock page download-version-page" onload="validateDownload();">
    {{> navbar download=true }}
    <div class="header-spacing">
        <div class="header left-right">
            <h1>Lucky Block {{meta.version}}</h1>
            <div id="loading" class="center-column">
                <div class="loader"></div>
                <div class="wait-text">Please wait...</div>
            </div>
            <div id="done" style="display: none;">
                <a class="btn" href="./download">Download</a>
            </div>
        </div>
    </div>

    <div class="content-spacing">
        <div class="content-body">
            <div class="ad-box">
                {{> ad-banner ad-slot=4575070891 format='auto' }}
            </div>
            <div class="content">
                {{#block "main"}}{{/block}}
            </div>
            <div class="ad-box">
                {{> ad-banner ad-slot=4575070891 format='auto' }}
            </div>
        </div>
    </div>

    <script>
        setTimeout(function () {
            document.getElementById('loading').style.display = 'none';
            document.getElementById('done').style.display = 'inherit';
        }, 3000);
    </script>
    {{> footer }} {{> analytics }}
</body>
