<div class="documentationSideBar">
    <div class="documentationContents">
        <a href="introduction.html" class="documentationContentsLink">Introduction</a><br />
        <a href="1_basic_configuration.html" class="documentationContentsLink"
            >1. Basic Configuration</a
        ><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="1_1_basic_properties.html" class="documentationContentsLink"
            >1.1 Basic Properties</a
        ><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="1_2_custom_recipe.html" class="documentationContentsLink">1.2 Custom Recipe</a
        ><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="1_3_luck_crafting.html" class="documentationContentsLink">1.3 Luck Crafting</a
        ><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="1_4_natural_generation.html" class="documentationContentsLink"
            >1.4 Natural Generation</a
        ><br />
        <a href="2_drop_properties.html" class="documentationContentsLink">2. Drop Properties</a
        ><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="2_1_base_properties.html" class="documentationContentsLink">2.1 Base Properties</a
        ><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="2_2_items.html" class="documentationContentsLink">2.2 Items</a><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="2_3_blocks.html" class="documentationContentsLink">2.3 Blocks</a><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="2_4_entities.html" class="documentationContentsLink">2.4 Entities</a><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="2_5_structures.html" class="documentationContentsLink">2.5 Structures</a><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="2_6_other.html" class="documentationContentsLink">2.6 Other</a><br />
        <a href="3_property_values.html" class="documentationContentsLink">3. Property Values</a
        ><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="3_1_complex_values.html" class="documentationContentsLink">3.1 Complex Values</a
        ><br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="3_2_hash_variables.html" class="documentationContentsLink">3.2 Hash Variables</a
        ><br />
        <a href="4_nbt_tags.html" class="documentationContentsLink">4. NBT Tags</a><br />
        <a href="5_final_drops.html" class="documentationContentsLink">5. Final Drops</a><br />
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="5_1_groups.html" class="documentationContentsLink"
            >5.1 Groups</a
        ><br />
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="5_2_luck_chance.html" class="documentationContentsLink"
            >5.2 Luck & Chance</a
        ><br />
        <a href="6_miscellaneous.html" class="documentationContentsLink">6. Miscellaneous</a><br />
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="6_1_add_ons.html" class="documentationContentsLink"
            >6.1 Add-ons</a
        ><br />
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="6_2_files.html" class="documentationContentsLink"
            >6.2 Files</a
        ><br />
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="6_3_block_data.html" class="documentationContentsLink"
            >6.3 Block Data</a
        ><br />
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="6_4_lucky_items.html" class="documentationContentsLink"
            >6.4 Lucky Items</a
        ><br />
    </div>
</div>
