<nav>
  <div class="navTop">
    <div class="navIcon"> <img width="50px" src="/images/icons/icon_nav.png"></img> </div>
    <div class="navTitle">
      <h2>Minecraft Ascending</h2>
    </div>
  </div>
  <div class="navBarPadding"></div>
  <div class="navBarContainer" id="navBar">
    <div class="navBarInner">
      <nav class="navBar"> <a href="/index.html" class="navButton">HOME</a> <a href="/projects/lucky_block/lucky_block.html" class="navButton">LUCKY BLOCK</a> </nav>
    </div>
  </div>
</nav>
