@use 'vars';

.download-page {
    display: flex;
    justify-content: center;

    .content-spacing {
        max-width: 800px;
        flex: 1;
        margin-left: 20px;
        margin-right: 20px;
    }

    .title-section {
        padding-top: vars.$nav-height;
        height: 300px;
    }

    .table {
    }
}
