@use 'vars';

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    .copyright-text {
        font-size: 11px;
        font-family: vars.$font;
        color: vars.$gray;

        a {
            text-decoration: none;
            color: vars.$gray;
            &:hover {
                color: vars.$primary-color;
            }
            transition: color 0.2s;
        }
    }
}

.luckyblock .docs-footer {
    margin-top: 50px;
    font-size: 11px;
    a {
        color: inherit;
        font-weight: inherit;
    }
}
