@use 'vars';

.luckyblock.nav {
    background-color: vars.$primary-color;

    height: vars.$nav-height;
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;

    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
}

.luckyblock.nav {
    .left {
        flex: 1;
        display: flex;
        padding-left: 30px;
        align-items: center;
    }
    .title {
        font-family: vars.$title-font;
        color: white;
        font-size: 28px;
        padding-left: 20px;
    }
    .icon {
        padding-top: 4px;
        float: left;
        img {
            width: vars.$nav-height - 8;
        }
    }
    .middle {
        flex: 0;
        height: 100%;
        display: flex;
    }
    .right {
        flex: 1;
        @media (max-width: vars.$breakpoint-nav) {
            flex: 0;
            background-color: red;
        }
    }
    .sectionBtn {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        height: 100%;
        width: 110px;
        box-sizing: border-box;
        color: white;
        font-family: vars.$text-font;
        font-weight: bold;
        font-size: 13px;

        &.current {
            border-bottom: 2px solid white;
            padding-top: 2px;
        }

        &:hover {
            color: transparentize(white, 0.3);
        }
        transition: color 0.2s;
    }
}
