html {
    font-size: 14px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #b0b0b0;
    margin: 1em 0;
    padding: 0;
}

/* PAGE COLORS
   ================================================== */

html,
body {
    color: white;
    transition: background-color 0.2s ease;
    font-family: 'Arial';
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    height: 100%;
    margin: 0;
    padding: 0;
}

body .horizontalAdBox {
    border: 2px solid #c67c15;
}

/* NAV
   ================================================== */

body nav {
    background-color: #8dc753;
    color: white;
}

body .navTop {
    background-color: #8dc753;
    color: white;
}

body .navBarContainer {
    background-color: #8dc753;
    color: white;
}

body .navButton {
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 15px;
    color: white;
}
body .navButton:hover,
body .navButton.current {
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 15px;
    background-color: #a2d173;
}
body .current {
    background-color: #9ac963;
}

/* HOME
   ================================================== */

body .homeContainer {
    background-color: #bb8844;
}

body.home .introButton {
    background-color: white;
    color: #bb8844;
    font-family: hero;
}
body.home .footerButton {
    background-color: white;
    color: #916934;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
}
body.home .footerButton:hover {
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    background-color: #9ac963;
}

body.home .btn:hover,
body .introButton:hover {
    background-color: #9ac963;
}
body.home .footerInner {
    background-color: #916934;
}
body.home .footerEmail {
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
}
body.home .pageInfoWrapper {
    background-color: #7c5a2c;
    color: #c59b62;
}

/* PROJECTS
================================================== */

body.projects .projectBox1 {
    background-color: #ffb347;
}
body.projects .projectBox2 {
    background-color: #ff6961;
}
body.projects .projectBox3 {
    background-color: #779ecb;
}
body.projects .projectBox4 {
    background-color: #b19cd9;
}

body .projectsButton1 {
    background-color: white;
    color: #ffb347;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
}

body .projectsButton1:hover {
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    background-color: #ffe2bb;
}
body .projectsButton2 {
    background-color: white;
    color: #ff6961;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
}
body .projectsButton2:hover {
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    background-color: #ffd2cf;
}
body .projectsButton3 {
    background-color: white;
    color: #779ecb;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
}
body .projectsButton3:hover {
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    background-color: #ccdbed;
}
body .projectsButton4 {
    background-color: white;
    color: #b19cd9;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
}
body .projectsButton4:hover {
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    background-color: #e0d5f3;
}

body.projects .pageInfoWrapper {
    background-color: #9579cb;
    color: #dad1ed;
}

/* DOWNLOAD PROJECTS
================================================== */

body.download_projects .projectsWrapper {
    background-color: white;
    color: black;
}

body.download_projects .smallSubTitleFont {
    font-family: 'Segoe UI Light', 'Segoe UI', 'Arial', 'sans-serif';
    font-size: 32px;
}

body.download_projects .smallTitleFont1 {
    font-family: 'Segoe UI Light', 'Segoe UI', 'Arial', 'sans-serif';
    font-size: 30px;
    color: #ffb347;
}
body.download_projects .smallTitleFont2 {
    font-family: 'Segoe UI Light', 'Segoe UI', 'Arial', 'sans-serif';
    font-size: 30px;
    color: #ff6961;
}
body.download_projects .smallTitleFont3 {
    font-family: 'Segoe UI Light', 'Segoe UI', 'Arial', 'sans-serif';
    font-size: 30px;
    color: #779ecb;
}
body.download_projects .smallTitleFont4 {
    font-family: 'Segoe UI Light', 'Segoe UI', 'Arial', 'sans-serif';
    font-size: 30px;
    color: #b19cd9;
}

body.download_projects .projectBoxGray {
    background-color: #ececec;
}
body.download_projects .projectBoxWhite {
    background-color: white;
}

body.download_projects .projectBoxHRLeft {
    height: 8px;
    width: 200px;
    border-bottom: 1px #b0b0b0 solid;
    padding-left: 20px;
    float: left;
}

body.download_projects .projectBoxHRRight {
    height: 8px;
    width: 200px;
    border-bottom: 1px #b0b0b0 solid;
    padding-right: 20px;
    float: right;
}

body.download_projects .pageInfoWrapper {
    background-color: #9579cb;
    color: #dad1ed;
}

/* SIGN UP
   ================================================== */

body.signup .pageContainer {
    background-color: #bb8844;
    color: #c59b62;
}

body.signup .page {
    background-color: white;
    color: black;
}

body.signup .pageInfoWrapper {
    background-color: #7c5a2c;
    color: #c59b62;
}

body.signup .largeTitleFont {
    color: white;
}

body.signup .smallTitleFont {
    color: black;
}

body.signup .smallSubTitleFont {
    color: #7c5a2c;
}

/* LUCKY BLOCK
   ================================================== */

body.lucky_block .projectPageContainer {
    background-color: white;
    color: #ffb347;
}

body.lucky_block nav {
    background-color: #ffb347;
    color: white;
}
body.lucky_block .navTop {
    background-color: #ffb347;
    color: white;
}
body.lucky_block .navBarContainer {
    background-color: #ffb347;
    color: white;
}

body.lucky_block .navButton:hover,
body.lucky_block .navButton.current {
    background-color: #ffbd60;
}

body.lucky_block .page {
    background-color: #ffeacc;
}

body.lucky_block .sideBoxLeft {
    background-color: #ffeacc;
}

body.lucky_block .sideDownloadBoxRight {
    background-color: #ffeacc;
}
body.lucky_block .sideBoxRight {
    background-color: #ffeacc;
}

body.lucky_block .pageInfoWrapper {
    background-color: #ffb347;
    color: white;
}

body.lucky_block .imageBox {
    border: 3px solid #c67c15;
}

body.lucky_block .projectButton,
body.documentation .documentationButton,
body.documentation .projectButton,
body.download_projects .projectButton1 {
    background-color: #ffb347;
    color: white;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    border-bottom: 4px solid #ff9c11;
}

body.lucky_block .projectButton:hover,
body.documentation .documentationButton:hover,
body.download_projcts .projectButton1:hover {
    background-color: #ffcc85;
    color: white;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    border-bottom: 4px solid #ff9c11;
}

body.lucky_block .smallSubTitleFont {
    color: #c07100;
}

body.lucky_block .pageTextWhite {
    font-family: 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 15px;
    color: white;
    margin: 0;
}

body.lucky_block .projectQuoteContainer {
    background-color: #ffb347;
}

body.lucky_block .projectDownloadTitleWrapper {
    background-color: #ffb347;
    border-bottom: 5px solid #ffa11c;
    color: white;
}

.projectDownloadTitleWrapperOld {
    width: 100%;
    height: 100px;
    background-color: #e0e0e0;
    border-bottom: 5px solid #c8c8c8;
    z-index: 7;
}

body.documentation .pageTitleWrapper {
    background-color: #eba645;
    color: #c59b62;
    border-bottom: 1px dotted white;
}

body.documentation .documentationBar {
    background-color: #eba645;
    color: #c59b62;
}

body.documentation .documentationBarButton {
    border-left: 1px dotted white;
}

body.documentation .documentationBarButton:first-of-type {
    border: none;
}

body.documentation .documentationBarNav {
    color: #c59b62;
    border-bottom: 1px solid #eba645;
}

body.documentation .documentationSideBar {
    background-color: #eba645;
    border-top: 1px dotted white;
    z-index: 0;
}

body.documentation .documentationContentsTitle {
    border-right: 1px dotted white;
    border-bottom: 1px solid #eba645;
    position: relative;
    z-index: 1;
}

body.documentation .documentationPageWrapper {
    border-left: 5px solid #dd8b17;
    border-top: 5px solid #dd8b17;
}

body.documentation .documentationPage {
}

body.documentation .documentationContentsLink {
    margin: 0;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 15px;
    color: white;
}

body.documentation .documentationContentsLink:hover,
body.documentation .currentContent {
    margin: 0;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 15px;
    color: #a96a11;
}

body.documentation .documentationBarButtonLink {
    margin: 0;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 15px;
    color: white;
}

body.documentation .documentationBarButtonLink:hover {
    margin: 0;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 15px;
    color: #a96a11;
}

body.documentation .pageInfoWrapper {
    background-color: #dd8b17;
    color: #f1c68b;
}

/* INSTANT MASSIVE STRUCTURES
   ================================================== */

body.imstructures .projectPageContainer {
    background-color: white;
    color: #ff6961;
}

body.imstructures nav {
    background-color: #ff6961;
    color: white;
}
body.imstructures .navTop {
    background-color: #ff6961;
    color: white;
}
body.imstructures .navBarContainer {
    background-color: #ff6961;
    color: white;
}

body.imstructures .navButton:hover,
body.imstructures .navButton.current {
    background-color: #ff6961;
}

body.imstructures .pageInfoWrapper {
    background-color: #ff6961;
    color: white;
}

body.imstructures .imageBox {
    border: 3px solid #c67c15;
}

body.imstructures .projectButton,
body.download_projects .projectButton2 {
    background-color: #ff6961;
    color: white;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    border-bottom: 4px solid #ec3a30;
}

body.imstructures .projectButton:hover,
body.download_projects .projectButton2:hover {
    background-color: #ff8a84;
    color: white;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    border-bottom: 4px solid #ec3a30;
}

body.imstructures .smallSubTitleFont {
    color: #cb362d;
}

body.imstructures .pageTextWhite {
    font-family: 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 15px;
    color: white;
    margin: 0;
}

body.imstructures .projectQuoteContainer {
    background-color: #ff6961;
}

/* COPS AND ROBBERS
   ================================================== */

body.copsnrobbers .projectPageContainer {
    background-color: white;
    color: #779ecb;
}

body.copsnrobbers nav {
    background-color: #779ecb;
    color: white;
}
body.copsnrobbers .navTop {
    background-color: #779ecb;
    color: white;
}
body.copsnrobbers .navBarContainer {
    background-color: #779ecb;
    color: white;
}

body.copsnrobbers .navButton:hover,
body.imstructures .navButton.current {
    background-color: #8faed1;
}

body.copsnrobbers .pageInfoWrapper {
    background-color: #779ecb;
    color: white;
}

body.copsnrobbers .imageBox {
    border: 3px solid #c67c15;
}

body.copsnrobbers .projectButton,
body.download_projects .projectButton3 {
    background-color: #779ecb;
    color: white;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    border-bottom: 4px solid #4a7db8;
}

body.copsnrobbers .projectButton:hover,
body.download_projects .projectButton3:hover {
    background-color: #8faed1;
    color: white;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    border-bottom: 4px solid #4a7db8;
}

body.copsnrobbers .smallSubTitleFont {
    color: #1760b4;
}

body.copsnrobbers .pageTextWhite {
    font-family: 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 15px;
    color: white;
    margin: 0;
}

body.copsnrobbers .projectQuoteContainer {
    background-color: #779ecb;
}

/* MINECRAFT CHALLENGES
   ================================================== */

body.mc_challenges .projectPageContainer {
    background-color: white;
    color: #b19cd9;
}

body.mc_challenges nav {
    background-color: #b19cd9;
    color: white;
}
body.mc_challenges .navTop {
    background-color: #b19cd9;
    color: white;
}
body.mc_challenges .navBarContainer {
    background-color: #b19cd9;
    color: white;
}

body.mc_challenges .navButton:hover,
body.mc_challenges .navButton.current {
    background-color: #b19cd9;
}

body.mc_challenges .pageInfoWrapper {
    background-color: #b19cd9;
    color: white;
}

body.mc_challenges .imageBox {
    border: 3px solid #c67c15;
}

body.mc_challenges .projectButton,
body.download_projects .projectButton4 {
    background-color: #b19cd9;
    color: white;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    border-bottom: 4px solid #9b76e3;
}

body.mc_challenges .projectButton:hover,
body.download_projects .projectButton4:hover {
    background-color: #c5aef0;
    color: white;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    border-bottom: 4px solid #9b76e3;
}

body.mc_challenges .smallSubTitleFont {
    color: #926add;
}

body.mc_challenges .pageTextWhite {
    font-family: 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 15px;
    color: white;
    margin: 0;
}

body.mc_challenges .projectQuoteContainer {
    background-color: #b19cd9;
}

/* TYPEFACES
   ================================================== */

@font-face {
    font-family: 'hero';
    src: url('../fonts/hero.otf');
}
@font-face {
    font-family: 'herolight';
    src: url('../fonts/herolight.otf');
}

/* MAIN TYPE STYLES AND LINKS
   ================================================== */

h1 {
    color: white;
    font: 3.2rem/1.1 herolight, Georgia;
    margin: 0;
}
h2 {
    color: white;
    font: 2.4rem/1.1 herolight, Georgia;
    margin: 0;
}
h3 {
    font: 1.4rem/1.1 herolight, Georgia;
    margin: 0;
}
h4 {
    font: 1.35rem/1.1 herolight, Georgia;
    margin: 0;
    margin-bottom: 8px;
}

p {
    font: 1.1rem/1.1 herolight, Georgia;
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

/* FONT STYLES
   ================================================== */

.pageHeading {
    margin: 0;
    font-family: hero;
    font-size: 32px;
    padding-top: 20px;
    color: black;
}

.pageSubHeading {
    margin: 0;
    font-family: hero;
    font-size: 18px;
    padding-bottom: 5px;
    color: black;
}

.projectDownloadH1 {
    color: black;
    font: 3.2rem/1.1 herolight, Georgia;
    margin: 0;
}

.pageText {
    margin: 0;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 12px;
    color: black;
}

.pageTextSmall {
    margin: 0;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 11px;
    color: black;
}

.pageTextLarger {
    margin: 0;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 15px;
    color: black;
    font-style: italic;
}

.pageInfoText {
    margin: 0;
    font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
}

body.documentation .documentationContentsTitleText {
    margin: 0;
    font-family: herolight;
    font-size: 26px;
    color: white;
}

.pageHeading {
    font-family: 'Segoe UI Light', 'Segoe UI', 'Arial', 'sans-serif';
    font-weight: lighter;
    font-size: 32px;
    margin: 0;
    color: black;
}

.pageSubHeading {
    font-family: 'Segoe UI Light', 'Segoe UI', 'Arial', 'sans-serif';
    font-weight: lighter;
    font-size: 22px;
    margin: 0;
    margin-bottom: -8px;
    color: black;
}

body.documentation .pageText {
    margin: 0;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 13px;
    color: black;
}

body.documentation .documentationBarButtonText {
    margin: 0;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 15px;
    color: white;
}

body.documentation .documentationExample {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco,
        'Courier New', monospace;
    font-size: 13px;
    color: black;
    background-color: #e8e8e8;
}

body.documentation .documentationExampleInline {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-left: 30px;
    font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco,
        'Courier New', monospace;
    font-size: 13px;
    color: black;
    background-color: #e8e8e8;
}

body.documentation .documentationTextLink {
    margin: 0;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 13px;
    color: #bd7613;
    text-decoration: underline;
}

.pageText {
    font-family: 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 15px;
    margin: 0;
    color: inherit;
}

.largeTitleFont {
    font: 3.2rem/1.1 herolight, Georgia;
    margin: 0;
}

.largeSubTitleFont {
    font-family: 'Segoe UI Light', 'Segoe UI', 'Arial', 'sans-serif';
    font-weight: lighter;
    font-size: 20px;
    margin: 0;
}

.smallTitleFont {
    font-family: 'Segoe UI Light', 'Segoe UI', 'Arial', 'sans-serif';
    font-weight: lighter;
    font-size: 32px;
    margin: 0;
    color: inherit;
}

.smallTitleFontWhite {
    font-family: 'Segoe UI Light', 'Segoe UI', 'Arial', 'sans-serif';
    font-weight: lighter;
    font-size: 32px;
    margin: 0;
    color: white;
}

.smallSubTitleFont {
    font-family: 'Segoe UI Light', 'Segoe UI', 'Arial', 'sans-serif';
    font-weight: lighter;
    font-size: 22px;
    margin: 0;
}

.smallSubTitleFontBlack {
    font-family: 'Segoe UI Light', 'Segoe UI', 'Arial', 'sans-serif';
    font-weight: lighter;
    font-size: 22px;
    margin: 0;
    color: black;
}

.smallDetailFont {
    font-family: 'Segoe UI Light', 'Segoe UI', 'Arial', 'sans-serif';
    font-weight: lighter;
    font-size: 10px;
    color: #bbbbbb;
    margin: 0;
}

.instantDownloadTitleAsterixFont {
    font-family: 'Segoe UI Light', 'Segoe UI', 'Arial', 'sans-serif';
    font-weight: lighter;
    font-size: 10px;
    margin-top: -22px;
    margin-left: 163px;
    height: 4px;
    color: #9e9e9e;
}

.quoteText {
    font-family: herolight, Georgia;
    font-size: 40px;
    margin: 0;
}

body.lucky_block .textLink {
    margin: 0;
    font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
    font-size: 15px;
    color: #bd7613;
    text-decoration: underline;
}

/* GLOBAL PROPERTIES
   ================================================== */
.textLink {
}

/* CONTAINERS
   ================================================== */

.homeContainer {
    min-width: 800px;
    min-height: 700px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
}

.projectsContainer {
    min-width: 800px;
    min-height: 100%;
    position: relative;
    overflow: auto;
    background-color: #b19cd9;
}
.pageContainer {
    min-width: 800px;
    min-height: 100%;
    position: relative;
    overflow: auto;
}

.projectPageContainer {
    min-width: 1100px;
    min-height: 100%;
    position: relative;
    overflow: auto;
}

body.copsnrobbers .projectPageContainer {
    min-width: 1100px;
    min-height: 100%;
    position: relative;
    overflow: auto;
}

.projectInfoPageContainer {
    min-width: 800px;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.projectDownloadVersionPageContainer {
    min-width: 900px;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.projectDownloadPageContainerNew {
    min-width: 1210px;
    min-height: 100%;
    position: relative;
    overflow: auto;
}

.projectDownloadPageContainer {
    min-width: 1000px;
    min-height: 100%;
    position: relative;
    overflow: auto;
}

.documentationContainer {
    min-width: 800px;
    min-height: 600px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* NAVIGATION
   ================================================== */

.navWrapper {
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 7;
}
.navTop {
    width: calc(100% - 30px);
    height: 49px;
    padding-left: 30px;
    padding-bottom: 10px;
}
.navIcon {
    float: left;
}
.navTitle {
    float: left;
    padding-top: 10px;
    padding-left: 15px;
}

.navBarPadding {
    width: 100%;
    height: 42px;
}

.navBarWrapper {
    height: 40px;
    border-top: 1px dotted white;
    border-bottom: 1px solid white;
    padding-left: 50%;
    margin-left: -225px;
}

.navBarContainer {
    width: 100%;
    z-index: 7;
    position: static;
    margin-top: -42px;
}
.navBarInner {
    height: 40px;
    border-top: 1px dotted white;
    border-bottom: 1px solid white;
    padding-left: 50%;
    margin-left: -225px;
}
.navBar {
    width: 800px;
    min-width: 800px;
}
.login {
    font-size: 0.85rem;
    line-height: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    text-align: right;
    transition: all 0.2s ease;
    padding-left: 42px;
}
.login:hover {
    color: #3d4544;
}
.navButton {
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    float: left;
    border-right: 1px dotted white;
    text-align: center;
    transition: all 0.2s ease;
}
.navButton:first-of-type {
    border-left: 1px dotted white;
}

/* PROJECT PAGE
   ================================================== */

.projectTitleWrapper {
    width: 100%;
    height: 350px;
    background-color: #ececec;
}

.projectTitleContainer {
    width: 1000px;
    height: 300px;
    padding-top: 100px;
    padding-left: 50%;
    margin-left: -375px;
}

.projectOverviewContainer {
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;
}

.projectOverviewBoxWrapper {
    width: 100%;
    float: left;
}

.projectSectionContainer {
    position: relative;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    max-width: 1200px;
    padding-bottom: 20px;
}

.projectTitleTextWrapper {
    width: 400px;
    height: 300px;
    float: left;
    color: black;
}

.projectTitleAdWrapper {
    width: 728px;
    height: 90px;
    margin-top: 20px;
    float: left;
}

.projectOverviewAdWrapper {
    width: 728px;
    height: 90px;
    float: left;
    margin-top: 10px;
    padding-bottom: 20px;
}

.projectOverviewHR {
    width: 100%;
    height: 15px;
    float: left;
}

.projectOverviewHRInner {
    width: calc(100% - 420px);
    height: 1px;
    margin-top: 10px;
    background: #b0b0b0;
}

.projectTitleImageWrapper {
    width: 200px;
    height: 200px;
    padding-top: 30px;
    margin-right: calc(40% - 400px);
    float: right;
}

.projectTitleTextHeading {
    padding-top: 50px;
}

.projectTitleTextHR {
    width: 300px;
    height: 15px;
    border-bottom: 1px solid black;
}

.projectTitleTextInfo {
    padding-top: 10px;
}

.projectOverviewTitle {
    width: 100%;
    height: 60px;
    padding-top: 35px;
    color: black;
}

.projectOverviewBox {
    width: calc((100% - 336px - 190px) / 3);
    padding-right: 50px;
    min-height: 200px;
    padding-bottom: 20px;
    float: left;
}

.projectOverviewBox2 {
    width: calc((100% - 150px) / 3);
    padding-right: 50px;
    height: 300px;
    float: left;
    color: #c07100;
}

body.imstructures .projectOverviewBox2,
body.copsnrobbers .projectOverviewBox2 {
    width: calc((100% - 150px) / 3);
    padding-right: 50px;
    height: 220px;
    float: left;
    color: #c07100;
}

body.mc_challenges .projectOverviewBox2 {
    width: calc((100% - 150px) / 3);
    padding-right: 50px;
    height: 240px;
    float: left;
    color: #c07100;
}

.projectOverviewBox3 {
    width: calc((100% - 150px) / 2);
    padding-right: 50px;
    height: 300px;
    float: left;
    color: #c07100;
}

.projectOverviewBoxTitle {
    width: 200px;
    height: 35px;
    padding-top: 20px;
}

.projectOverviewBoxImage {
    width: 256px;
    height: 144px;
}

.centerText {
    display: table-cell;
    vertical-align: middle;
}

.projectOverviewBox1Text {
    padding-bottom: 20px;
    color: black;
}

.projectOverviewBoxText {
    padding-bottom: 20px;
    max-width: 256px;
    color: black;
}

.projectOverviewBoxButton {
    height: 50px;
}

.projectOverviewBoxDivider {
    width: 30px;
    height: 200px;
    float: left;
    border-left: 1px solid #b0b0b0;
}

.projectOverviewAdBox {
    width: 336px;
    height: 280px;
    margin-top: -30px;
    float: left;
}

.projectDescriptionContainer {
    height: 300px;
}

.projectDescriptionTitle {
    height: 40px;
    color: #c07100;
}

.projectDescriptionDivider {
    height: 20px;
    border-top: 1px solid #b0b0b0;
    width: calc(100% - 50px);
}

.projectDescriptionText {
    width: calc(100% - 500px);
    height: 200px;
    float: left;
    color: black;
}

.projectDescriptionAdWrapper {
    width: 468px;
    height: 60px;
    margin-top: 20px;
}

.projectDescriptionImage {
    width: 384px;
    height: 216px;
    float: right;
}

.projectQuoteContainer {
    height: 200px;
    color: white;
}

.projectQuoteText {
    width: 1000px;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    padding-left: 50%;
    margin-left: -500px;
}

.projectQuoteSymbolOpen {
    width: 100px;
    height: 10px;
    margin-left: 20px;
}

.projectQuoteSymbolClose {
    width: 100px;
    height: 60px;
    margin-right: 20px;
    margin-top: -40px;
    float: right;
}

.projectQuoteSubText {
    height: 20px;
    text-align: center;
}

body.lucy_block .projectFunctionContainer {
    height: 750px;
}

.projectFunctionContainer {
    height: 700px;
}

body.imstructures .projectFunctionContainer,
body.copsnrobbers .projectFunctionContainer {
    height: 550px;
}

body.mc_challenges .projectFunctionContainer {
    height: 600px;
}

.projectAddonContainer {
    height: 400px;
    background-color: #ececec;
}

.ims2Container {
    height: 700px;
    background-color: #ececec;
}

.ims2VidContainer {
    width: 663px;
    height: 350px;
    padding-top: 20px;
    float: left;
}

.ims2VidImgContainerRight {
    width: 260px;
    height: 350px;
    padding-top: 20px;
    float: left;
}

.ims2VidImgContainerBottom {
    width: 1000px;
    height: 200px;
    padding-top: 25px;
    float: left;
}

.ims2ImageBox {
    width: 300px;
    padding-right: 32px;
    height: 188px;
    float: left;
}

.ims2ImageBoxLast {
    width: 300px;
    padding-right: 25px;
    height: 188px;
    float: left;
    margin-left: -13px;
}

.ims2Image {
    width: 288px;
    height: 162px;
}

.projectAddonTextWrapper {
    width: 400px;
    height: 300px;
    float: left;
    color: black;
}

.projectAddonImageWrapper {
    width: 512px;
    height: 300px;
    padding-top: 30px;
    float: right;
}

.projectAddonTextHeading {
    padding-top: 50px;
}

.projectAddonTextHR {
    width: 300px;
    height: 15px;
    border-bottom: 1px solid black;
}

.projectAddonTextInfo {
    padding-top: 10px;
}

.projectAddonButtonWrapper {
    padding-top: 40px;
}

.projectAddonButton1 {
    float: left;
}

.projectAddonButton2 {
    float: left;
    padding-left: 20px;
}

.projectDownloadContainer {
    height: 500px;
}

body.copsnrobbers .projectDownloadContainer {
    height: 500px;
    background-color: #ececec;
}

.projectDownloadTitle {
    width: 100%;
    height: 60px;
    padding-top: 35px;
    color: black;
}

.projectDownloadBox {
    width: calc((100% - 150px) / 3);
    padding-right: 50px;
    height: 350px;
    float: left;
    color: #c07100;
}

body.copsnrobbers .projectDownloadBox {
    width: calc((100% - 150px) / 3);
    padding-right: 200px;
    height: 350px;
    float: left;
    color: #c07100;
}

.projectDownloadBox2 {
    width: 200px;
    padding-right: 50px;
    height: 350px;
    float: left;
    color: #c07100;
}

.projectDownloadBoxTitle {
    width: 300px;
    height: 35px;
    padding-top: 10px;
}

.projectDownloadBoxImage {
    width: 200px;
    height: 200px;
}

.projectDownloadBoxImage2 {
    width: 160px;
    height: 160px;
}

.projectDownloadBoxText {
    padding-bottom: 20px;
    padding-right: 50px;
    color: black;
}

.projectDownloadBoxText2 {
    padding-bottom: 20px;
    color: black;
}

.projectDownloadBoxButton {
}

.projectDownloadBoxButtonWrapper {
}

.projectDownloadBoxButton1 {
    float: left;
    padding-right: 10px;
}

.projectDownloadBoxButton2 {
    float: left;
}

.projectInfoTitleWrapper {
    width: 100%;
    height: 200px;
    background-color: #ececec;
}

.projectDownloadTitleWrapper {
    width: 100%;
    height: 100px;
    background-color: #e0e0e0;
    border-bottom: 5px solid #c8c8c8;
    z-index: 7;
}

.projectDownloadAdPage {
    width: 728px;
    padding-left: 50%;
    margin-left: -364px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.projectDownloadAdPageNew {
    width: 728px;
    padding-left: 50%;
    margin-left: -364px;
    padding-top: 175px;
    padding-bottom: 50px;
}

.projectDownloadAdPageNew {
    width: 728px;
    padding-left: 50%;
    margin-left: -364px;
    padding-top: 75px;
    padding-bottom: 50px;
}

.projectDownloadThankYouBox {
    width: 728px;
    padding-left: 50%;
    margin-left: -364px;
    text-align: center;
    padding-bottom: 10px;
}

.projectDownloadAdDividerWrapper {
    width: 600px;
    height: 1px;
    padding-left: 50%;
    margin-left: -300px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.projectDownloadAdDividerWrapperNew {
    width: 600px;
    height: 1px;
    padding-left: 50%;
    margin-left: -300px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.projectDownloadAdDivider {
    width: 600px;
    height: 1px;
    background-color: #b0b0b0;
}

.projectVersionSelectTitleWrapper {
    width: 100%;
    height: 310px;
    background-color: #ececec;
}

.latestUpdateInfo {
    width: 400px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 1px;
    background-color: #ececec;
}

.projectInfoTitleContainer {
    width: 538px;
    height: 100px;
    padding-top: 0px;
    padding-left: 50%;
    margin-left: -269px;
}

.projectDownloadTitleImageTextWrapper {
    height: 100px;
    float: left;
    z-index: 10;
}

.projectDownloadTitleVerticleDivider {
    width: 1px;
    height: 80px;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    background-color: white;
}

.projectDownloadTitleImage {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    float: left;
}

.projectDownloadTitleMainWrapper {
    height: 100px;
    margin-left: 20px;
    float: left;
    color: black;
}

.projectDownloadTopAdWrapper {
    width: 728px;
    height: 90px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.projectDownloadTitleText {
    height: 50px;
    margin-top: 25px;
    margin-left: 20px;
    float: left;
    color: black;
}

.projectDownloadTitleTextNew {
    height: 50px;
    margin-top: 15px;
    float: left;
    color: black;
}

body.imstructures .projectDownloadTitleText,
body.mc_challenges .projectDownloadTitleText {
    width: 350px;
    height: 100px;
    margin-top: 12px;
    margin-left: 20px;
    float: left;
    color: black;
}

.projectDownloadTitleButtonNew {
    height: 50px;
    margin-top: 3px;
    color: black;
    overflow: visible;
    float: left;
}

.projectDownloadTitleButton {
    height: 50px;
    margin-top: 40px;
    margin-right: 20px;
    color: black;
    overflow: visible;
    float: right;
}

.projectDownloadTitleAdContainer {
    width: 100%;
}

.projectInfoTitleImage {
    width: 128px;
    height: 128px;
    padding-top: 30px;
    float: left;
}

body.imstructures .projectInfoTitleImage,
body.mc_challenges .projectInfoTitleImage {
    width: 128px;
    height: 128px;
    padding-top: 50px;
    float: left;
}

.projectInfoTitleText {
    width: 350px;
    height: 100px;
    float: left;
    padding-left: 50px;
    padding-top: 75px;
    color: black;
}

.projectInfoTextWrapper {
    width: 60%;
    float: left;
}

.projectInfoTextWrapperInner {
    width: calc(100% - 100px);
    max-width: 800px;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    float: right;
}

.projectInfoPage {
    width: 750px;
    height: auto;
    padding-top: 75px;
    color: black;
    float: left;
}

.projectDownloadLeaderboardAdWrapper {
    width: 728px;
    height: 90px;
}

.projectDownloadFinalLeaderboardAdWrapper {
    width: 728px;
    height: 90px;
    padding-left: 50%;
    margin-left: -364px;
}

.projectDownloadTitleLeaderboardAdWrapper {
    width: 728px;
    padding-left: 50%;
    margin-left: -364px;
    height: 90px;
    margin-top: 90px;
}

body.imstructures .projectDownloadTitleLeaderboardAdWrapper,
body.mc_challenges .projectDownloadTitleLeaderboardAdWrapper {
    width: 728px;
    padding-left: 50%;
    margin-left: -364px;
    height: 90px;
    margin-top: 105px;
}

.projectDownloadBannerAdWrapper {
    width: 320px;
    height: 100px;
    margin-top: 2px;
}

.projectDownloadBottomAdDivider {
    height: 250px;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 19px;
    border-left: 1px solid black;
    float: left;
}

.projectDownloadContentWrapper {
    width: 735px;
}

.projectDownloadTextWrapper {
    width: 460px;
    float: left;
    padding-bottom: 20px;
}

.projectDownloadDivider {
    height: 520px;
    margin-top: 37px;
    padding-right: 40px;
    border-left: 1px solid #b0b0b0;
    float: left;
}

.projectDownloadSideAdWrapper {
    width: 160px;
    height: 600px;
    float: left;
}

.projectDownloadSideAd {
    width: 336px;
    height: 280px;
    float: left;
}

.projectDownloadBottomAdWrapper1 {
    width: 336px;
    height: 280px;
    float: left;
}

.projectDownloadBottomAdWrapper2 {
    width: 336px;
    height: 280px;
    float: left;
}

.projectDownloadTitleMargin {
    margin-top: -50px;
}

.projectDownloadLoading {
    height: 40px;
}

.projectDownloadLoadingImage {
    width: 45px;
    height: 45px;
    margin-top: -4px;
    float: right;
}

.projectDownloadLoadingImageNew {
    float: left;
    width: 45px;
    height: 45px;
    margin-top: -4px;
}

.projectDownloadLoadingTextNew {
    margin-top: -6px;
    margin-left: 2px;
}

.projectDownloadLoadingText {
    margin-top: 2px;
    margin-right: 30px;
    float: right;
}

.projectDownloadButton {
    margin-top: -4px;
    height: 0px;
    visibility: hidden;
}

.projectInfoMultiImageWrapper {
    display: inline-block;
}

.projectInfoMultiImageBox {
    float: left;
    padding-right: 20px;
}

.projectInfoAddonMargin {
    margin-top: -50px;
}

.imageBorder {
    border: 4px solid #ececec;
    border-radius: 0px 6px 0px 6px;
}

.imageBorderDark {
    border: 4px solid #d1d1d1;
    border-radius: 0px 6px 0px 6px;
}

.projectInfoSideWrapper {
    width: 40%;
    height: auto;
    color: black;
    float: left;
}

.projectInfoSideImageBox {
    width: 256px;
    height: 512px;
    right: calc((70% - 600px) / 2);
    margin-top: 190px;
    position: fixed;
}

.projectInfoSideImageBoxStatic {
    width: 256px;
    height: 384px;
    margin-left: 20%;
    margin-top: 190px;
    z-index: 6;
}

.projectInfoInstallBox {
    min-width: 200px;
    padding-right: 50px;
    float: left;
    color: black;
}

.projectInfoSideEmptyBox {
    width: 100%;
    height: 500px;
    z-index: 5;
}

.projectInfoSideColorBox1 {
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0), #e868a2);
    mix-blend-mode: color;
    visibility: hidden;
    z-index: 5;
}

.projectInfoSideColorBox2 {
    width: 100%;
    height: 500px;
    background: linear-gradient(#e868a2, #bf62a6);
    mix-blend-mode: color;
    visibility: hidden;
    z-index: 5;
}

.projectInfoSideColorBox3 {
    width: 100%;
    height: 500px;
    background: linear-gradient(#bf62a6, #78c5d6);
    mix-blend-mode: color;
    visibility: hidden;
    z-index: 5;
}

.projectInfoSideColorBox4 {
    width: 100%;
    height: 500px;
    background: linear-gradient(#78c5d6, #459ba8);
    mix-blend-mode: color;
    visibility: hidden;
    z-index: 5;
}

.projectInfoSideColorBox5 {
    width: 100%;
    height: 500px;
    background: linear-gradient(#459ba8, #79c267);
    mix-blend-mode: color;
    visibility: hidden;
    z-index: 5;
}

.projectInfoSideColorBox6 {
    width: 100%;
    height: 500px;
    background: linear-gradient(#79c267, #c5d647);
    mix-blend-mode: color;
    visibility: hidden;
    z-index: 5;
}

.projectInfoSideColorBox7 {
    width: 100%;
    height: 500px;
    background: linear-gradient(#c5d647, #f5d63d);
    mix-blend-mode: color;
    visibility: hidden;
    z-index: 5;
}

.projectInfoSideColorBox8 {
    width: 100%;
    height: 500px;
    background: linear-gradient(#f5d63d, rgba(0, 0, 0, 0));
    mix-blend-mode: color;
    visibility: hidden;
    z-index: 5;
}

.projectInfoTitleText {
    width: 360px;
    height: 100px;
    float: left;
    padding-left: 50px;
    padding-top: 75px;
    color: black;
}

.projectInfoTitleHR {
    height: 1px;
    margin-top: 10px;
    width: 200px;
    background-color: black;
}

.pageWrapper {
    width: 700px;
    padding-left: 50%;
    margin-left: -370px;
    padding-bottom: 40px;
}

.signupHeader {
    height: 20px;
}
.pageTitleWrapper {
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
}
.pageTitleIcon {
    padding-top: 8px;
    float: left;
}
.pageTitleText {
    padding-top: 50px;
    padding-left: 20px;
    float: left;
}
.page {
    width: 100%;
    padding-bottom: 20px;
    border-radius: 10px;
    min-height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}

.sideWrapperLeft {
    width: 150px;
    height: 100%;
    padding-top: 270px;
    padding-left: 10px;
    float: left;
    bottom: 0;
}

.sideBoxLeft {
    width: 120px;
    height: 600px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.sideWrapperRight {
    width: 326px;
    height: 100%;
    padding-top: 270px;
    padding-left: 50px;
    float: left;
    bottom: 0;
}

.sideDownloadBoxRight {
    width: 316px;
    height: 180px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sideBoxRight {
    width: 336px;
    height: 280px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.imageBox {
    width: 259px;
    height: 147px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}

.horizontalAdBox {
    width: 478px;
    height: 70px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

/* HOME PAGE
   ================================================== */

.homeWrapper {
    width: 100%;
    height: 100%;
}

.introHeader {
    height: calc(25% - 102px);
    position: static;
}

.intro {
}
.introIcon {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
}
.introTitle {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
.introSubtitle {
    text-align: center;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}
.introButtonsWrapper {
    text-align: center;
    padding-top: 30px;
    padding-left: 50%;
    margin-left: -150px;
}
.introButtonsInner {
    width: 300px;
    height: 60px;
}
.introButton1 {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    float: left;
}
.introButton2 {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    float: right;
}
.introHRuleWrapper {
    height: 15px;
    width: 200px;
    padding-left: 50%;
    margin-left: -100px;
}
.introHRule {
    height: 15px;
    border-bottom: 1px #ffffff solid;
}
.logo {
    height: 200px;
    padding-top: 30px;
    padding-top: 104px;
    padding-bottom: 47px;
}
/* FOOTER
   ================================================== */

.footerWrapper {
    width: 100%;
    height: 180px;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
}

.footerTrans {
    height: 30px;
    width: 100%;
    background-image: url(../images/home/trans.png);
    background-repeat: repeat-x;
}

.footerInner {
    padding-left: 50%;
    margin-left: -375px;
    height: 170px;
    padding-bottom: 10px;
}
.footerBox {
    width: 220px;
    text-align: center;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.footerBoxTop {
    height: 90px;
    text-align: center;
}
.footerBoxTitle {
    padding-bottom: 8px;
}
.footerBoxBottom {
    height: 40px;
    text-align: center;
    padding-top: 20px;
    float: bottom;
}
.footerDivider {
    width: 1px;
    height: 100px;
    float: left;
    border-right: 1px #ffffff dotted;
    margin-top: 40px;
}
/* PROJECTS PAGE
   ================================================== */

.projectsWrapper {
    width: 100%;
    padding-bottom: 20px;
}

.projectsHeader {
    height: 100px;
}
body.projects .projectBoxWrapper {
    height: 360px;
    position: relative;
}
body.download_projects .projectBoxWrapper {
    height: 300px;
    position: relative;
}
body.download_projects .projectBoxWrapperFirst {
    background-color: #ececec;
    color: black;
    height: 400px;
    padding-top: 220px;
    position: relative;
}
body.download_projects .projectBoxWrapperAd {
    background-color: white;
    color: black;
    height: 200px;
    position: relative;
}
.projectListLargeGrayArea {
    height: 800px;
    background-color: #ececec;
}
.projectBox1 {
    height: 100%;
    padding-left: 50%;
    margin-left: -400px;
}
.projectBox2 {
    height: 100%;
    padding-left: 50%;
    margin-left: -400px;
}
.projectBox3 {
    height: 100%;
    padding-left: 50%;
    margin-left: -400px;
}
.projectBox4 {
    height: 100%;
    padding-left: 50%;
    margin-left: -400px;
}
.projectBoxGray {
    height: 100%;
    padding-left: 50%;
    margin-left: -400px;
}
.projectBoxWhite {
    height: 100%;
    padding-left: 50%;
    margin-left: -400px;
}
.projectBoxContent {
    height: 250px;
    padding-top: 60px;
    width: 800px;
}
.projectBoxTextLeft {
    float: left;
    height: 100%;
    width: 360px;
}
.projectBoxTitleLeft {
}
.projectBoxHRLeft {
    height: 8px;
    width: 200px;
    border-bottom: 1px white solid;
    padding-left: 20px;
    float: left;
}
.projectBoxInfoLeft {
    height: 60px;
    padding-top: 20px;
}
.projectBoxButtonLeft {
    height: 50px;
}
.projectBoxIconRight {
    float: right;
    height: 100%;
    width: 300px;
}
.projectBoxTextRight {
    float: right;
    height: 100%;
    width: 500px;
}
.projectBoxTitleRight {
    text-align: right;
}
.projectBoxHRRight {
    height: 8px;
    width: 200px;
    border-bottom: 1px white solid;
    text-align: right;
    float: right;
}
.projectBoxInfoRight {
    height: 60px;
    width: 300px;
    padding-top: 10px;
    padding-left: 300px;
    text-align: right;
    float: right;
}
.projectBoxButtonRight {
    height: 50px;
    text-align: right;
}
.projectBoxIconLeft {
    float: left;
    height: 100%;
    width: 300px;
}
.projectBoxTrans1 {
    height: 50px;
    background-image: url(../images/projects/trans_1.png);
    background-repeat: repeat-x;
}
.projectBoxTransPoint {
    width: 200px;
    height: 40px;
    padding-left: 50%;
    margin-left: -100px;
}
.projectBoxTrans2 {
    height: 50px;
    background-image: url(../images/projects/trans_2.png);
    background-repeat: repeat-x;
}
.projectBoxTrans3 {
    height: 50px;
    background-image: url(../images/projects/trans_3.png);
    background-repeat: repeat-x;
}
.projectBoxTrans {
    height: 20px;
    position: absolute;
    bottom: 0;
    padding-left: 50%;
    margin-left: -20px;
}

/* DOCUMENTATION
   ================================================== */

.documentationWrapper {
    width: 100%;
    height: 100%;
}

.documentationHeader {
    height: 100px;
    padding-left: 20px;
}

.documentationTrans {
    height: 5px;
}

.documentationBar {
    height: 50px;
}

.documentationBarNav {
    width: calc(100% - 301px);
    height: 50px;
    float: left;
}

.documentationBarButton {
    width: calc(100% / 3 - 1px);
    height: 50px;
    float: left;
}

.documentationBarButtonTextCenter {
    width: 100%;
    margin-top: 18px;
    text-align: center;
}

.documentationBarButtonImageLeft {
    width: 35px;
    height: 40px;
    margin-top: 10px;
    margin-left: 5px;
    background-image: url(../images/projects/lucky_block/documentation/back.png);
    background-repeat: no-repeat;
    float: left;
    text-allign: center;
}

.documentationBarButtonTextLeft {
    width: calc(100% - 80px);
    float: left;
    margin-top: 18px;
    text-align: center;
}

.documentationBarButtonImageRight {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background-image: url(../images/projects/lucky_block/documentation/forward.png);
    background-repeat: no-repeat;
    float: right;
    text-allign: center;
}

.documentationBarButtonTextRight {
    width: calc(100% - 80px);
    float: right;
    margin-top: 18px;
    text-align: center;
}

.documentationBarButtonLink {
    transition: all 0.2s ease;
}

.documentationContentsLink {
    transition: all 0.2s ease;
}

.documentationContents {
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.documentationSideBar {
    width: 300px;
    height: calc(100% - 320px);
    positoin: relative;
    float: left;
    overflow: auto;
}

.documentationContentsTitle {
    width: 280px;
    height: 40px;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.documentationPageWrapper {
    width: calc(100% - 305px);
    height: calc(100% - 347px);
    overflow: auto;
    margin-left: 300px;
    padding-bottom: 20px;
}

.documentationPage {
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
}

/* PAGE INFO
   ================================================== */

.pageInfoWrapper {
    width: 100%;
    height: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
}

.pageInfoWrapperHome {
    width: 100%;
    height: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* BUTTONS
   ================================================== */
.introButton {
    transition: all 0.2s ease;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.footerButton {
    transition: all 0.2s ease;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
.projectsButton1,
.projectsButton2,
.projectsButton3,
.projectsButton4 {
    transition: all 0.2s ease;
    border-radius: 0px 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.projectButton {
    transition: all 0.2s ease;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 4px;
}

.downloadButton {
    transition: all 0.2s ease;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 4px;
    background-color: white;
    border-bottom: 4px solid white;
}

.documentationButton {
    transition: all 0.2s ease;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 4px;
    margin-right: 10px;
    margin-top: 20px;
    float: left;
}
