@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Open+Sans&family=Quicksand&display=swap');

$title-font: 'Mr Dafoe', sans-serif;
$text-font: 'Open Sans', sans-serif;
$breakpoint-nav: 800px;
$nav-height: 50px;

$primary-color: #ffb347;
