{{> header }}

<body class="luckyblock page download-version-page">
    {{> navbar download=true }}
    <div class="header-spacing">
        <div class="header left-right">
            <h1>Lucky Block {{meta.version}}</h1>
            <div id="loading" class="center-column">
                <div class="loader"></div>
                <div class="wait-text">Please wait...</div>
            </div>
            <div id="done" style="display: none;">
                <a class="btn" href="./{{token}}">Download</a>
            </div>
        </div>
    </div>

    <div class="page-spacing">
        <div class="page">
            <div class="ad-box"></div>
            <div class="content">
                {{{ body }}}
            </div>
        </div>
    </div>

    <script>
        setTimeout(function () {
            document.getElementById('loading').style.display = 'none';
            document.getElementById('done').style.display = 'inherit';
        }, 3000);
    </script>
    {{> footer }} {{> analytics }}
</body>
